<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now</title>
    <link rel="stylesheet" th:href="@{~/css/book.css}">
</head>
<body>
   
    <div class="booking-form">
        <h2>Book Your Trip</h2>
        <form th:method="post" th:action="@{~/book/savebookss}" th:object="${bookingss}">
            <input  type="text" hidden="hidden" name="userId" th:value="${userlog.id}">
            <input  type="text" hidden="hidden" name="roomId" th:value="${dest.id}">
          <div class="form-group">
            <label for="departure-date">Departure Date:</label>
            <input type="date" id="departure-date" name="checkin" required th:field="*{checkin}">
          </div>
          <div class="form-group">
            <label for="return-date">Return Date:</label>
            <input type="date" id="return-date" name="checkout" required th:field="*{checkout}">
          </div>
          <div class="form-group">
            <label for="num-travelers">Number of Travelers:</label>
            <input type="number" id="num-travelers" name="people" th:field="*{people}">
          </div>
          <div class="form-group">
            <button type="submit">Book Now</button>
          </div>
        </form>
      </div>
      
      <script th:src="@{~/js/book.js}"></script>
      <script>
        const today = new Date();
        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const yyyy = today.getFullYear();
      
        const minDate = yyyy + '-' + mm + '-' + dd;
      
        document.querySelector("#departure-date").min = minDate;
        document.querySelector("#return-date").min = minDate;
      </script>
</body>
</html>

  